/* Dark Mode (Default) */
.root {
    -fx-primary-bg: #111522;
    -fx-nav-bg: #111522;
    -fx-card-bg: #2d3755;
    -fx-hero-bg: #242c45;
    
    -fx-text-main: #e6d7c4;
    -fx-text-muted: #b0a596;
    -fx-accent: #cfc2b0;
    -fx-text-dim: #808080;
    
    -fx-button-text: #242c45;
    
    -fx-background-color: -fx-primary-bg;
}

/* Light Mode (Reversed) */
.light-mode {
    -fx-primary-bg: #b8ac9d;
    -fx-nav-bg: #a19789;
    -fx-card-bg: #f2e6d5;
    -fx-hero-bg: #e6d7c4;
    -fx-text-dim: #808080;

    -fx-text-main: #242c45;
    -fx-text-muted: #3e4b75;
    -fx-accent: #242c45;
    -fx-text-dim: #3e4b75;
    
    -fx-button-text: #e6d7c4;
}

/* Components */
.scroll, .inner-scroll {
    -fx-background-color: transparent;
    -fx-background: transparent;
}

.main-container {
    -fx-background-color: -fx-primary-bg;
    -fx-padding: 20;
    -fx-spacing: 15;
}

.main-container .label {
	-fx-text-fill: -fx-text-main;
    -fx-font-weight: bold;
    -fx-opacity: 1.0;
}

.navbar {
    -fx-background-color: -fx-nav-bg;
    -fx-min-height: 60px;
    -fx-pref-height: 60px;
    -fx-alignment: CENTER;
    -fx-cursor: default;
}

.logo {
    -fx-text-fill: -fx-accent;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}

.navButton, .theme-label, .theme-patch{
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-main;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.navButton:hover {
    -fx-opacity: 0.7;
}

.language-picker {
    -fx-background-color: -fx-card-bg;
    -fx-text-fill: -fx-text-main;
    -fx-background-radius: 15;
    -fx-prompt-text-fill: -fx-text-muted;
}

.combo-box-base .list-view .list-cell:filled:selected, 
.combo-box-base .list-view .list-cell:filled:hover {
    -fx-background-color: -fx-accent;
    -fx-text-fill: -fx-button-text;
}

.combo-box .list-cell{
    -fx-text-fill: -fx-text-main;
}
.watchBtn {
	-fx-cursor: hand;
    -fx-background-color: -fx-accent;
    -fx-text-fill: -fx-button-text;
    -fx-background-radius: 20;
    -fx-font-weight: bold;
}

/*hero */
.hero {
    -fx-background-color: -fx-hero-bg;
	-fx-min-height: 450px;
    -fx-max-height: 500px;
    -fx-overflow-typed: hidden;
}

.hero .media-view {
    -fx-alignment: center;
}

.hero-overlay {
    -fx-background-color: linear-gradient(to top, -fx-primary-bg 10%, rgba(36, 44, 69, 0) 80%);
}

.meta-tag {
    -fx-background-color: rgba(0, 0, 0, 0.1);
    -fx-text-fill: -fx-text-main;
    -fx-padding: 2 8;
    -fx-background-radius: 4;
    -fx-font-size: 12px;
}

.heroTitle {
    -fx-text-fill: -fx-text-main;
    -fx-font-size: 34px;
    -fx-font-weight: bold;
}

.hero-desc-responsive {
    -fx-text-fill: -fx-text-muted;
    -fx-font-size: 15px;
    -fx-line-spacing: 5;
}

.hero-container {
    -fx-background-color: -fx-hero-bg;
}

.hero-container #heroBlurredPoster {
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 50, 0, 0, 0);
    -fx-opacity: 0.3;
}

#movieSharpPoster, #seriesSharpPoster {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 15, 0, 0, 5);
    -fx-background-radius: 10;
}

.hero-container ImageView {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 25, 0, 0, 10);
    -fx-border-color: rgba(255,255,255,0.05);
    -fx-border-width: 1;
    -fx-border-radius: 10;
}

/*hero light mode */
.light-mode .hero {
    -fx-background-color: #111522; 
}

.light-mode .hero-overlay {
    -fx-background-color: linear-gradient(to top, #b8ac9d 5%, rgba(36, 44, 69, 0) 70%);
}

.light-mode .hero .heroTitle, 
.light-mode .hero .meta-tag,
.light-mode .hero .label {
    -fx-text-fill: #e6d7c4;
}

.light-mode .hero .hero-desc-responsive {
    -fx-text-fill: #b0a596;
}

.light-mode .hero .watchBtn {
    -fx-background-color: #cfc2b0;
    -fx-text-fill: #242c45;
}

.categoryTitle {
    -fx-text-fill: -fx-text-main;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-padding: 0 0 0 20;
}

.movieCard {
    -fx-background-color: -fx-card-bg;
    -fx-padding: 10;
    -fx-background-radius: 10;
}

.seriesCard {
	-fx-cursor: hand;
}

.movieCard:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 10, 0, 0, 0);
}

.card-text {
    -fx-text-fill: -fx-text-main;
}

.poster-placeholder {
    -fx-fill: #1a1f31;
}

.light-mode .poster-placeholder {
    -fx-fill: #d6ccbd;
}


.sidebar {
    -fx-background-color: #0d111a;
    -fx-pref-width: 80px;
    -fx-alignment: TOP_CENTER;
    -fx-border-color: transparent rgba(255, 255, 255, 0.05) transparent transparent;
}

.sidebar-icon-btn, .admin-nav-button {
    -fx-background-color: transparent;
    -fx-text-fill: #968d7f;
    -fx-font-size: 20px;
    -fx-cursor: hand;
    -fx-transition: 0.2s;
    
    -fx-min-width: 45px;
    -fx-max-width: 45px;
    -fx-alignment: CENTER;
    -fx-padding: 0;
    -fx-content-display: TEXT_ONLY;
    -fx-ellipsis-string: "";
}

.sidebar-icon-btn:hover {
    -fx-text-fill: -fx-accent;
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}

/* Active */
.sidebar-icon-btn:focused {
    -fx-text-fill: -fx-accent;
    -fx-border-color: transparent transparent transparent -fx-accent;
    -fx-border-width: 0 0 0 3;
}

.sidebar-profile-btn {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

/*detail oeuvre */
.meta-tag {
    -fx-background-color: rgba(207, 185, 151, 0.1);
    -fx-text-fill: -fx-text-main;
    -fx-padding: 5 10;
    -fx-background-radius: 5;
    -fx-font-size: 12px;
}

.episode-row:hover {
    -fx-background-color: #1a1f31;
    -fx-cursor: hand;
}

.light-mode .episode-row:hover {
    -fx-background-color: #d6ccbd;
}
/*fav heart */
.fav-button {
    -fx-background-color: rgba(255,255,255,0.1);
    -fx-background-radius: 50;
    -fx-font-size: 20px;
    -fx-cursor: hand;
    -fx-padding: 5 10 5 10;
}

.fav-button:hover {
    -fx-background-color: rgba(255,255,255,0.2);
}

.fav-button:selected {
    -fx-effect: dropshadow(three-pass-box, #ff4d4d, 10, 0, 0, 0);
}
/*rate */
.star-button {
    -fx-background-color: transparent;
    -fx-text-fill: #555;
    -fx-font-size: 24px;
    -fx-cursor: hand;
}

.star-button:hover {
    -fx-text-fill: #ffcc00;
}
/*history */
.history-row {
    -fx-transition: background-color 0.2s;
}

.history-row:hover {
    -fx-background-color: #2b2b2b;
}
/* Container for 3 buttons */
.window-controls {
    -fx-spacing: 0; 
    -fx-padding: 0; 
}

.control-btn {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-main;
    -fx-min-width: 45;
    -fx-min-height: 32;
    -fx-font-size: 12px;
    -fx-background-radius: 0;
    -fx-cursor: hand;
}

.close-btn:hover {
    -fx-background-color: #e81123;
    -fx-text-fill: white;
}


/*Profile */
.profile-card {
    -fx-cursor: hand;
    -fx-transition: all 0.3s;
}

.profile-card:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.profile-avatar-container {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 15, 0, 0, 0);
}

.profile-avatar-container:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-transition: 0.3s;
}
.profile-circle {
    -fx-fill: transparent;
    -fx-stroke: -fx-accent;
    -fx-stroke-width: 2;
    -fx-stroke-dash-array: 10;
}
.manage-profile-btn:hover {
    -fx-border-color: white;
    -fx-text-fill: white;
}
.profile-container {
    -fx-alignment: center;
    -fx-cursor: hand;
    -fx-padding: 20 0;
}

.profile-icon {
    -fx-background-color: transparent;
    -fx-text-fill: #968d7f;
    -fx-font-size: 32px;
    -fx-cursor: hand;
    -fx-transition: 0.2s;
}

.profile-container:hover .profile-icon {
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(255,255,255,0.3), 10, 0, 0, 0);
}


/* Search */
.filter-chip {
    -fx-background-color: #333;
    -fx-text-fill: white;
    -fx-background-radius: 20;
    -fx-padding: 5 15;
    -fx-cursor: hand;
    -fx-border-color: transparent;
}

.filter-chip:selected {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.filter-chip:hover {
    -fx-background-color: #444;
}

.filter-chip:selected:hover {
    -fx-background-color: #eee;
}

/* Auth Screen Specifics */
.auth-container {
    -fx-background-color: -fx-primary-bg;
}

.auth-card {
    -fx-background-color: -fx-card-bg;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 20, 0, 0, 10);
}

.auth-field {
    -fx-background-color: #1a1f31;
    -fx-text-fill: -fx-text-main;
    -fx-prompt-text-fill: -fx-text-muted;
    -fx-background-radius: 5;
    -fx-border-color: transparent transparent -fx-accent transparent;
    -fx-border-width: 0 0 2 0;
}

.auth-field:focused {
    -fx-background-color: #242c45;
    -fx-border-color: -fx-text-main;
}

.auth-submit-btn {
    -fx-background-color: -fx-accent;
    -fx-text-fill: -fx-button-text;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

.auth-submit-btn:hover {
    -fx-opacity: 0.9;
}

/*ADMIN */
.admin-separator {
    -fx-padding: 10 0 10 0;
    -fx-opacity: 0.3;
}

.admin-section-label {
    -fx-text-fill: #888888;
    -fx-font-size: 11px;
    -fx-font-weight: bold;
    -fx-padding: 0 0 0 10;
}

.admin-nav-button:hover {
    -fx-text-fill: -fx-accent;
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}

.admin-nav-button:focused {
    -fx-text-fill: -fx-accent;
    -fx-border-color: transparent transparent transparent -fx-accent;
    -fx-border-width: 0 0 0 3;
}

.admin-table {
    -fx-background-color: transparent;
    -fx-border-color: -fx-card-bg;
    -fx-border-width: 1;
    -fx-background-radius: 10;
}

.admin-table .column-header-background {
    -fx-background-color: -fx-nav-bg;
}

.admin-table .column-header {
    -fx-background-color: transparent;
    -fx-size: 40;
    -fx-border-color: transparent transparent -fx-card-bg transparent;
}

.admin-table .column-header-background {
    -fx-background-color: -fx-nav-bg;
    -fx-background-insets: 0;
}

.admin-table .column-header .label {
    -fx-text-fill: -fx-accent;
    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
}

.admin-table .table-row-cell {
    -fx-background-color: -fx-primary-bg;
    -fx-text-fill: -fx-text-main;
    -fx-border-color: transparent transparent rgba(255,255,255,0.03) transparent;
}

.admin-table .table-row-cell:odd {
    -fx-background-color: -fx-hero-bg;
}

.admin-table .table-row-cell:filled:hover {
    -fx-background-color: -fx-card-bg;
}

.admin-table .table-row-cell:selected {
    -fx-background-color: -fx-card-bg;
    -fx-border-color: -fx-accent;
    -fx-border-width: 0 0 0 4;
}

.admin-table .table-cell {
    -fx-text-fill: -fx-text-main;
    -fx-padding: 10;
    -fx-alignment: CENTER_LEFT;
}

.admin-table .admin-edit-btn {
    -fx-background-color: -fx-accent;
    -fx-text-fill: -fx-button-text;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
}

.admin-table .admin-delete-btn {
    -fx-background-color: -fx-accent;
    -fx-text-fill: -fx-button-text;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
}

.admin-table .placeholder .label {
    -fx-text-fill: -fx-text-muted;
}

.admin-table .virtual-flow {
    -fx-background-color: transparent;
}

.admin-table .table-row-cell:empty {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.admin-table .filler {
    -fx-background-color: -fx-nav-bg;
    -fx-border-color: transparent;
}

.table-view {
    -fx-background-color: -fx-primary-bg;
}

tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: -fx-nav-bg;
}

.tab-pane .tab .tab-label {
    -fx-text-fill: -fx-text-muted;
}

.tab-pane .tab:selected .tab-label {
    -fx-text-fill: -fx-button-text;
}

.tab-pane .tab:hover .tab-label {
    -fx-text-fill: -fx-text-main;
}

.toggle-container, .button-bar {
    -fx-background-color: -fx-nav-bg; 
    -fx-padding: 5;
    -fx-background-radius: 5;
}

.admin-table .column-header-background {
    -fx-background-color: -fx-nav-bg;
    -fx-background-insets: 0;
}

.scroll-pane > .viewport {
   -fx-background-color: -fx-primary-bg;
}

.button-bar, .header-section, .tab-header-area {
    -fx-background-color: -fx-primary-bg !important;
}

#mediaTypeSelectionBox, .toggle-container {
    -fx-background-color: transparent !important;
}

.tool-bar:horizontal, .menu-bar {
    -fx-background-color: -fx-primary-bg;
    -fx-border-color: transparent;
}

.toggle-button, .button {
    -fx-background-insets: 0;
}

.toggle-button, .nav-header-btn {
    -fx-text-fill: -fx-text-muted;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
}

.toggle-button:hover {
    -fx-text-fill: -fx-text-main;
    -fx-cursor: hand;
}

.toggle-button:selected {
    -fx-background-color: -fx-accent;
    -fx-text-fill: -fx-button-text;
}

.toggle-button:selected .glyph-icon, 
.toggle-button:selected .font-icon {
    -fx-fill: -fx-button-text;
}

/*accordion */
.accordion .titled-pane .header {
    -fx-background-color: -fx-card-bg;
}

.accordion .titled-pane .header .label {
    -fx-text-fill: -fx-text-main;
}

.accordion .titled-pane .content {
    -fx-background-color: -fx-primary-bg;
    -fx-border-color: -fx-card-bg;
}
/*TableView*/
.table-view {
    -fx-background-color: -fx-primary-bg;
    -fx-border-color: -fx-card-bg;
    -fx-background-radius: 10;
}

.table-view .column-header, .table-view .column-header-background {
    -fx-background-color: -fx-card-bg;
}

.table-view .column-header .label {
    -fx-text-fill: -fx-accent;
    -fx-font-weight: bold;
}

.table-row-cell {
    -fx-background-color: -fx-primary-bg;
    -fx-text-fill: -fx-text-main;
    -fx-border-color: transparent transparent rgba(255,255,255,0.05) transparent;
}

.table-row-cell:odd {
    -fx-background-color: #1a1f31;
}

.table-row-cell:selected {
    -fx-background-color: -fx-card-bg;
    -fx-border-color: -fx-accent;
}

.table-cell {
    -fx-text-fill: -fx-text-main;
}

/* Dialog Specific Styles */
.dialog-pane {
    -fx-background-color: -fx-primary-bg;
}

.dialog-pane .label {
    -fx-text-fill: -fx-text-main;
}

.dialog-pane .button-bar .button {
    -fx-background-color: -fx-accent;
    -fx-text-fill: -fx-primary-bg;
}

.category-tag {
    -fx-background-color: -fx-accent;
    -fx-background-radius: 20;
    -fx-padding: 5 10;
}

.text-area {
    -fx-control-inner-background: #1f2940;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #808080;
}

.chart-content {
    -fx-padding: 10;
}

.chart-title {
    -fx-text-fill: -fx-accent;
    -fx-font-size: 16px;
}

.axis-label {
    -fx-text-fill: -fx-text-main;
}

.default-color0.chart-pie { -fx-pie-color: #1a237e; }
.default-color1.chart-pie { -fx-pie-color: #5c6bc0; }
.default-color2.chart-pie { -fx-pie-color: #0d47a1; }
.default-color3.chart-pie { -fx-pie-color: #f5f5dc; }
.default-color4.chart-pie { -fx-pie-color: #3949ab; }
.default-color5.chart-pie { -fx-pie-color: #fffdd0; }
.default-color6.chart-pie { -fx-pie-color: #0d47a1; }

.chart-series-line { -fx-stroke: -fx-accent; }
.chart-line-symbol { -fx-background-color: -fx-accent, white; }
.chart-bar { -fx-bar-fill: -fx-accent; }

.chart-pie-label {
    -fx-fill: -fx-text-main;
    -fx-font-size: 11px;
    -fx-font-weight: bold;
}

.chart-pie-label-line {
    -fx-stroke: #f5f5dc;
    -fx-stroke-width: 1px;
}

.chart-pie-label {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 2, 0, 0, 0);
}

.axis {
    -fx-tick-label-fill: -fx-text-main;
    -fx-tick-mark-stroke: -fx-text-main;
    -fx-label-padding: 5;
}

.axis:bottom {
    -fx-border-color: -fx-text-main transparent transparent transparent;
}

.axis:left {
    -fx-border-color: transparent -fx-text-main transparent transparent;
}

.axis-label {
    -fx-text-fill: -fx-text-main;
}

.chart-vertical-grid-lines, .chart-horizontal-grid-lines {
    -fx-stroke: rgba(245, 245, 220, 0.1);
}

.chart-legend {
   -fx-background-color: transparent;
   -fx-text-fill: -fx-text-main;
}

.chart-legend-item {
    -fx-text-fill: -fx-text-main;
}

.chart-legend-item-symbol {
    -fx-background-radius: 2px;
}

.compact-table {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.compact-table .column-header-background {
    -fx-background-color: rgba(245, 245, 220, 0.05);
}

.default-color0.chart-series-line { 
    -fx-stroke: #5c6bc0; 
    -fx-stroke-width: 3px; 
}
.default-color0.chart-line-symbol { 
    -fx-background-color: #5c6bc0, white; 
    -fx-background-radius: 5px;
}

.default-color1.chart-series-line { 
    -fx-stroke: #d4a373;
    -fx-stroke-width: 3px; 
}
.default-color1.chart-line-symbol { 
    -fx-background-color: #d4a373, white; 
    -fx-background-radius: 5px;
}

.chart-bar {
    -fx-bar-fill: -fx-text-main;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.media-card {
    -fx-background-color: -fx-card-bg;
    -fx-background-radius: 10;
    -fx-padding: 15;
    -fx-alignment: center;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 10, 0, 0, 5);
}

.media-card:hover {
    -fx-background-color: -fx-card-bg;
    -fx-border-color: -fx-accent;
    -fx-border-radius: 10;
}

.card-title {
    -fx-text-fill: -fx-text-main;
    -fx-font-weight: bold;
}

.search-bar {
    -fx-background-color: #2b2b2b;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #888;
    -fx-background-radius: 20;
    -fx-padding: 8 15;
    -fx-border-color: #444;
    -fx-border-radius: 20;
}

.search-bar:focused {
    -fx-border-color: -fx-accent;
}

.scroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}